<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="user id=sc;password=password;Data Source=(local);Database=testlocalSitecore_Core"/>
  <add name="master" connectionString="user id=sc;password=password;Data Source=(local);Database=testlocalSitecore_Master"/>
  <add name="web" connectionString="user id=sc;password=password;Data Source=(local);Database=testlocalSitecore_Web"/>
</connectionStrings>
